.social-icon{
    display: flex;;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-size: 1.2rem;
    background-color: var(--icon-color);
    box-shadow: 0 4px 4px 0 #0004;
    transition: .5s;
}

.social-icon:hover{
    background-color: #DE9E36;
    transform: translateY(-15%);
    color: var(--text-color-light);
}