/*importação de letra*/

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Kanit:ital,wght@0,300;0,400;1,400&family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
    
}

nav{
    width: 100%;
    height: 80px;
    background-color: #E6E1C8;
    align-items: center;
    justify-content: center;
}

.logoimg{
    width: 120px;
    height: auto;
    justify-content: center;
    align-items: center;
}

/*------------------------Login-----------------------------------*/

main{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aba-login{
    border-radius: 5%;
    width: 900px;
    height: 460px;
    background-color: #DE9E36CF;
}

.opcoesdelogin{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
    border-right: #000 solid 1px;
    height: 100%;
    width: 50%;

}

input{
    padding-left: 40px;
    border-radius: 4px;
    width: 280px;
    height: 40px;
    size: 20px;
    border: none;
}

.password{
    align-items: center;
    margin-top: 20px;
    display: flex;
}

.password p{
    opacity: 70%;
    font-size: 14px;
    position: absolute;
    margin-left: 180px;
}

#esqueceusenha{
    font-size: 10px;
    color: #556B2F;
    margin-left: 160px;
}

button{
    font-weight: 800;
    border-radius: 10px;
    margin-top: 2%;
    font-size: 16px;
    width: 280px;
    height: 50px;
    background-color: #556B2F;
    justify-content: center;
    align-items: center;
    border: none;
}

.criarconta{
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 2%;
    display: flex;
    font-size: 12px;
}

.criarconta a{
    color: #556B2F;
    text-decoration: none;
}

.ou{
    align-items: center;
    justify-content: center;
    display: flex;
}

.linha{
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
    border: 1px solid #000;
}


.googlelogin {
        cursor: pointer;
    display: flex;
    font-weight: 800;
    border-radius: 10px;
    font-size: 12px;
    width: 280px;
    height: 40px;
    background-color: #fff;
    
    justify-content: center;
    align-items: center;
    border: none;
}

.googlelogin img{
    padding-left: 10px;
    width: 20px;
    height: auto;
}

/*---------------------------frase da PetMoure----------------------------------*/

.fraseinicial{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.frase{
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 80%;
    font-weight: 800;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.frase img{
    width: 400px;
}